BasedOnStyle: LLVM
IndentWidth: 4
AlignAfterOpenBracket: true
AlignOperands: true
AlignConsecutiveMacros: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
PointerAlignment: Left
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Attach
ColumnLimit: 100
IndentPPDirectives: AfterHash
SortUsingDeclarations: true
SpaceAfterTemplateKeyword: true
Standard: Latest