[submodule "plugins/stonesense"]
	path = plugins/stonesense
	url = ../../DFHack/stonesense.git
[submodule "plugins/isoworld"]
	path = plugins/isoworld
	url = ../../DFHack/isoworld.git
[submodule "library/xml"]
	path = library/xml
	url = ../../DFHack/df-structures.git
[submodule "depends/clsocket"]
	path = depends/clsocket
	url = ../../DFHack/clsocket.git
[submodule "scripts2"]
	path = scripts
	url = ../../DFHack/scripts.git
[submodule "depends/jsoncpp"]
	path = depends/jsoncpp-sub
	url = ../../DFHack/jsoncpp.git
