# linux backup files
*~

#Kdevelop project files
*.kdev4
.kdev4

# any build folders
build*/
nix
buntu
build/VC2010

#except for the real one
!build/

# Sphinx generated documentation
docs/_*
docs/html/

# in-place build
build/Makefile
build/CMakeCache.txt
build/cmake_install.cmake
build/CMakeFiles
build/doc
build/lua
build/bin
build/depends
build/library
build/plugins
build/scripts
build/install_manifest.txt
build/_CPack_Packages
build/dfhack-*.zip
build/dfhack-*.bz2

# Python binding binaries
*.pyc

# CPack stuff
build/CPack*Config.cmake

/cmakeall.bat

# vim files
*.swp
.vimrc

# ctags file
tags

# Mac OS X .DS_Store files
.DS_Store

#VS is annoying about this one.
/build/win64/DF_PATH.txt
/build/win32/DF_PATH.txt
