[submodule "plugins/stonesense"]
	path = plugins/stonesense
	url = git://github.com/peterix/stonesense.git
[submodule "plugins/isoworld"]
	path = plugins/isoworld
	url = git://github.com/peterix/isoworld.git
[submodule "plugins/df2mc"]
	path = plugins/df2mc
	url = git://github.com/peterix/DF2MC.git
[submodule "library/xml"]
	path = library/xml
	url = git://github.com/peterix/df-structures.git
[submodule "depends/clsocket"]
	path = depends/clsocket
	url = git://github.com/peterix/clsocket.git
