name: Build

on: [push, pull_request]

jobs:
  test:
    uses: ./.github/workflows/test.yml
    with:
      dfhack_ref: ${{ github.ref }}
    secrets: inherit

  package:
    uses: ./.github/workflows/package.yml
    with:
      dfhack_ref: ${{ github.ref }}
    secrets: inherit

  docs:
    uses: ./.github/workflows/build-linux.yml
    with:
      dfhack_ref: ${{ github.ref }}
      platform-files: false
      common-files: false
      docs: true
    secrets: inherit

  lint:
    uses: ./.github/workflows/lint.yml
    with:
      dfhack_ref: ${{ github.ref }}
    secrets: inherit

  check-pr:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
    - name: Check that PR is based on develop branch
      env:
        BASE_BRANCH: ${{ github.base_ref }}
      run: |
        echo "PR base branch: $BASE_BRANCH"
        test "$BASE_BRANCH" = develop
