name: Build win64

on:
  workflow_call:
    inputs:
      dfhack_repo:
        type: string
        default: DFHack/dfhack
      dfhack_ref:
        type: string
      scripts_repo:
        type: string
        default: DFHack/scripts
      scripts_ref:
        type: string
      structures_repo:
        type: string
        default: DFHack/df-structures
      structures_ref:
        type: string
      stonesense_repo:
        type: string
        default: DFHack/stonesense
      stonesense_ref:
        type: string
      artifact-name:
        type: string
      append-date-and-hash:
        type: boolean
        default: false
      cache-id:
        type: string
        default: ''
      cache-readonly:
        type: boolean
        default: false
      platform-files:
        type: boolean
        default: true
      plugins:
        type: boolean
        default: true
      common-files:
        type: boolean
        default: true
      docs:
        type: boolean
        default: false
      html:
        type: boolean
        default: true
      stonesense:
        type: boolean
        default: false
      tests:
        type: boolean
        default: false
      xml-dump-type-sizes:
        type: boolean
        default: false
      launchdf:
        type: boolean
        default: false


jobs:
  build-win64:
    name: Build win64
    runs-on: windows-2022
    steps:
      - name: Install build dependencies
        run: |
          choco install sccache
      - name: Install doc dependencies
        if: inputs.docs
        run: |
          pip install sphinx
      - name: Clone DFHack
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.dfhack_repo }}
          ref: ${{ inputs.dfhack_ref }}
          submodules: true
          fetch-depth: 0
      - name: Clone scripts
        if: inputs.scripts_ref
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.scripts_repo }}
          ref: ${{ inputs.scripts_ref }}
          path: scripts
      - name: Clone structures
        if: inputs.structures_ref
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.structures_repo }}
          ref: ${{ inputs.structures_ref }}
          path: library/xml
      - name: Clone stonesense
        if: inputs.stonesense_ref
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.stonesense_repo }}
          ref: ${{ inputs.stonesense_ref }}
          path: plugins/stonesense
      - name: Get 3rd party SDKs
        if: inputs.launchdf
        uses: actions/checkout@v4
        with:
          repository: DFHack/3rdparty
          ref: main
          ssh-key: ${{ secrets.DFHACK_3RDPARTY_TOKEN }}
          path: depends/steam
      - name: Prepare output directories
        run: |
          mkdir output
          mkdir pdb
      - name: Fetch ccache
        if: inputs.platform-files
        uses: actions/cache/restore@v4
        with:
          path: C:\\Users\\runneradmin\\AppData\\Local\\Mozilla\\sccache\\cache
          key: win-msvc-${{ inputs.cache-id }}-${{ github.sha }}
          restore-keys: |
            win-msvc-${{ inputs.cache-id }}
            win-msvc
      - uses: ilammy/msvc-dev-cmd@v1
      - name: Configure DFHack
        run: |
          cmake `
            -S . `
            -B build `
            -GNinja `
            -DDFHACK_BUILD_ARCH=64 `
            -DCMAKE_BUILD_TYPE=Release `
            -DCMAKE_INSTALL_PREFIX=output `
            -DCMAKE_C_COMPILER_LAUNCHER=sccache `
            -DCMAKE_CXX_COMPILER_LAUNCHER=sccache `
            -DBUILD_PDBS:BOOL=${{ inputs.cache-id == 'release' }} `
            -DDFHACK_RUN_URL='https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id}}' `
            -DBUILD_LIBRARY=${{ inputs.platform-files }} `
            -DBUILD_PLUGINS:BOOL=${{ inputs.platform-files && inputs.plugins }} `
            -DBUILD_STONESENSE:BOOL=${{ inputs.stonesense }} `
            -DBUILD_DOCS:BOOL=${{ inputs.docs }} `
            -DBUILD_DOCS_NO_HTML:BOOL=${{ !inputs.html }} `
            -DINSTALL_DATA_FILES:BOOL=${{ inputs.common-files }} `
            -DBUILD_DFLAUNCH:BOOL=${{ inputs.launchdf }} `
            -DBUILD_TESTS:BOOL=${{ inputs.tests }} `
            -DBUILD_XMLDUMP:BOOL=${{ inputs.xml-dump-type-sizes }} `
            ${{ inputs.xml-dump-type-sizes && '-DINSTALL_XMLDUMP:BOOL=1' || '' }}
      - name: Cross-compile
        env:
          SCCACHE_CACHE_SIZE: 500M
        run: |
          ninja install -C build
      - name: Finalize cache
        run: |
          cd build
          sccache --show-stats
          sccache --zero-stats
      - name: Save ccache
        if: inputs.platform-files && !inputs.cache-readonly
        uses: actions/cache/save@v4
        with:
          path: C:\\Users\\runneradmin\\AppData\\Local\\Mozilla\\sccache\\cache
          key: win-msvc-${{ inputs.cache-id }}-${{ github.sha }}
      - name: Format artifact name
        if: inputs.artifact-name
        id: artifactname
        run: |
          if ("${{ inputs.append-date-and-hash }}" -eq "false") {
            "name=${{ inputs.artifact-name }}" | Out-File -Append $env:GITHUB_OUTPUT
          } else {
            $date = Get-Date -Format "yyyMMdd"
            $hash = git rev-parse --short HEAD
            "name=${{ inputs.artifact-name}}-$date-$hash" | Out-File -Append $env:GITHUB_OUTPUT
          }
      - name: Prep pdbs
        if: inputs.artifact-name && inputs.cache-id == 'release'
        run: |
          Get-ChildItem -Recurse -File -Path "build" -Filter *.pdb |
            Copy-Item -Destination "pdb"
      - name: Prep artifact
        run: |
          cd output
          7z a -ttar -so -an . |
            7z a -si -tbzip2 ../${{ steps.artifactname.outputs.name }}.tar.bz2
      - name: Upload artifact
        if: inputs.artifact-name
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.artifactname.outputs.name }}
          path: ${{ steps.artifactname.outputs.name }}.tar.bz2
      - name: Upload PDBs
        if: inputs.artifact-name && inputs.cache-id == 'release'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.artifactname.outputs.name }}_pdb
          path: pdb
