name: Deploy to Steam

on:
  push:
    tags:
    - '*-r*'
  workflow_dispatch:
    inputs:
      version:
        description: Version or build description
        type: string
        required: true
      steam_branch:
        description: Steam release branch
        type: string
        required: true
        default: staging

jobs:
  depot-common:
    name: Common depot files
    uses: ./.github/workflows/build-linux.yml
    with:
      artifact-name: common-depot
      dfhack_ref: ${{ github.ref }}
      platform-files: false
      docs: true
      html: false
      stonesense: true
    secrets: inherit

  depot-win64:
    name: Windows depot files
    uses: ./.github/workflows/build-windows.yml
    with:
      artifact-name: win64-depot
      dfhack_ref: ${{ github.ref }}
      cache-id: release
      cache-readonly: true
      common-files: false
      stonesense: true
      launchdf: true
      save-pdb: true
    secrets: inherit

  depot-linux64:
    name: Linux depot files
    uses: ./.github/workflows/build-linux.yml
    with:
      artifact-name: linux64-depot
      dfhack_ref: ${{ github.ref }}
      cache-id: release
      cache-readonly: true
      common-files: false
      stonesense: true
      launchdf: true
    secrets: inherit

  deploy-to-steam:
    name: Deploy to Steam
    needs:
    - depot-common
    - depot-win64
    - depot-linux64
    runs-on: ubuntu-latest
    concurrency: steamdeploy
    steps:
    - name: Download depot files
      uses: actions/download-artifact@v4
    - name: Stage depot files
      run: |
        for name in common win64 linux64; do
          cd ${name}-depot
          tar xjf ${name}-depot.tar.bz2
          rm ${name}-depot.tar.bz2
          cd ..
        done
    - name: Get short SHA of commit
      run: echo "SHORT_SHA=`echo ${{ github.sha }} | cut -c1-8`" >>$GITHUB_ENV
    - name: Steam deploy
      uses: game-ci/steam-deploy@v3
      with:
        username: ${{ secrets.STEAM_USERNAME }}
        configVdf: ${{ secrets.STEAM_CONFIG_VDF}}
        appId: 2346660
        buildDescription: ${{ github.event.inputs && github.event.inputs.version || github.ref_name }} (${{ env.SHORT_SHA }})
        rootPath: .
        depot1Path: common-depot
        depot2Path: win64-depot
        depot3Path: linux64-depot
        releaseBranch: ${{ github.event.inputs && github.event.inputs.steam_branch || 'staging' }}
